
@{
    Layout = "/Views/Shared/Layouts/_LayoutBlank.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div class="container">
        <div class="card mt-4">
            <div class="media p-3">
                <div class="ui-w-60">
                    <div class=""><i class="fa fa-times-circle" style="color: red; font-size: 60px"></i></div>
                </div>
                <div class="media-body ml-3">
                    <h5 class="mb-2">Error!</h5>
                    <div class="text-muted small">
                        An error occurred while attempting to authorize your Untappd account. Please try again
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
