
@{
    Layout = "/Views/Shared/Layouts/_LayoutBlank.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div class="container">
        <div class="card mt-4">
            <div class="media p-3">
                <div class="ui-w-60">
                    <div class="ui-square ui-bg-cover" style="background-image: url('/images/untappd-icon.png');"></div>
                </div>
                <div class="media-body ml-3">
                    <h5 class="mb-2">Untappd Authorization Successful!</h5>
                    <div class="text-muted small">
                        Close this browser window and return to the app to continue checking in your beers.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
