<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="/vendor/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/vendor/css/rtl/bootstrap.css" class="theme-settings-bootstrap-css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
</head>
<body>
    <div class="rounded text-center my-auto" style="height:60px; width: 60px; background-color:#eee; border: 1px solid #ddd"><i class="fa fa-beer" style="font-size: 30px; margin-top: 15px; margin-left: 5px; color: #bbb"></i></div>
    <div class="mt-4"></div>
    <div class="rounded text-center my-auto" style="height:100px; width: 300px; background-color:#fff; border: 0px solid #ddd"><i class="fas fa-glass-cheers" style="font-size: 30px; margin-top: 33px; color: #bbb"></i></div>
</body>
</html>