<!-- Layout footer -->
<nav class="layout-footer footer bg-white">
	<div class="container-fluid container-p-x pb-3">
		<a href="#" class="footer-link pt-3">Help</a>
		<a href="#" class="footer-link pt-3 ml-4">About</a>
	</div>
</nav>
<!-- / Layout footer -->

