<li class="sidenav-item@(Model == "/Admin/Events" ? " active" : "")">
	<a href="/Admin/Events" class="sidenav-link"><i class="sidenav-icon fas fa-calendar"></i> Events</a>
</li>
<li class="sidenav-item@(Model == "/Admin/Promoters" ? " active" : "")">
	<a href="/Admin/Promoters" class="sidenav-link"><i class="sidenav-icon fas fa-beer"></i> Promoters</a>
</li>
<li class="sidenav-item@(Model == "/Admin/Users" ? " active" : "")">
	<a href="/Admin/Users" class="sidenav-link"><i class="sidenav-icon fas fa-user"></i> Users</a>
</li>
